<!DOCTYPE html>
<html>
<head>
  <title>WalletApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div >
 <h1 align = "center" > Wallet Application </h1>
 <hr>
</div>	
<div class = "container"  >
<header class = "navbar navbar-fixed-top"> 
	
	<div class = "navbar-inner">
		<div class = "container">
			<%= link_to "Feng Shen", "#" %>
			<nav>
				<ul class = "nav pull-right">
					<li><%= link_to "HOME", root_path %></li>
					<li><%= link_to "INCOMES", incomes_path %> </li>
					<li><%= link_to "COSTS", costs_path%></li>
				</ul>
			</nav>
		</div>
	</div>
</header> 
</div>
	
	<div id = "main" align = "center">
		<%= yield %>
	</div>

</body>
</html>
